*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 12px;
}
header nav li:first-of-type{
    margin-right: 24px;
}
header nav li:last-of-type a{
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
/*main_banner*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner .container{
    max-width: 580px;
    text-align: center;
    margin: inherit;
}
.head{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.aperture_title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.aperture_paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 18px;
}
/*clients*/
.clients{
    background: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
}
.clients h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.clients p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.images-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images-container div{
    width: 128px;
}
.images-container div img{
    width: 100%;
}
/*touch*/
.touch{
    background: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
}
.touch .container{
    max-width: 571px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.touch h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.touch p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.touch a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.touch a:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 5px;
;
}
.tt{
    display: block;
}
.pp{
    background-color: #181818;
}
.ee{
    background-color: floralwhite;
}
.ee h5{
    display: block;
}
.ee h6{
    padding-top: 1px;
}